section {
    width: 600px;
    margin:0 auto;
  }

  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 230px
  }

  .container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .icon {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
  }


  .even .icon:after {
    content: '';
    width: 59.8%;
    border-bottom: solid 3px black;
    position: absolute;
    top: 205px;
    left: 115px;
    transform: rotate(30deg);
  }

  .odd:not(:last-child) .icon:after {
    content: '';
    width: 59.5%;
    border-bottom: solid 3px black;
    position: absolute;
    top: 200px;
    left: 125px;
    transform: rotate(-30deg);
  }

  .text {
    width: 240px;
    height: 150px;
  }